
<app-header headerTitle="Dashboard"></app-header>

<div class="container">

  <h1 class="text-center">Informações Gerais</h1>

  <div class="charts-container">

    
    <div class="card">
      <div class="card-header">
        Projeto por Status
      </div>
      <div class="card-body">
        <div class="chart-container">
          <div class="charts">
            <canvas baseChart class="chart"
                    [type]="'pie'"
                    [datasets]="pieChartData"
                    [labels]="pieChartLabels"
                    [options]="pieChartOptions"
                    [plugins]="pieChartPlugins"
                    [legend]="pieChartLegend">
            </canvas>
          </div>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header">
        Categorias de tickets
      </div>
      <div class="card-body">
        <div class="chart-container">
          <div class="charts">
            <canvas baseChart class="chart"
                    [type]="'bar'"
                    [datasets]="barChartData"
                    [labels]="barChartLabels"
                    [options]="barChartOptions"
                    [plugins]="barChartPlugins"
                    [legend]="barChartLegend">
            </canvas>
          </div>
        </div>
       
      </div>
    </div>
  </div>

  <div class="charts-container">
    <div class="card">
      <div class="card-header">
        Bugs durante os meses
      </div>
      <div class="card-body">
        <div class="chart-container">
          <div class="charts">
            <canvas baseChart class="chart"
                    [type]="'line'"
                    [datasets]="lineChartData"
                    [labels]="lineChartLabels"
                    [options]="lineChartOptions"
                    [plugins]="lineChartPlugins"
                    [legend]="lineChartLegend">
            </canvas>
          </div>
        </div>
      </div>
    </div>
        <div class="card">
      <div class="card-header">
        Ticket por tipo
      </div>
      <div class="card-body">
        <div class="chart-container">
          <div class="charts">
            <canvas baseChart class="chart"
                    [type]="'pie'"
                    [datasets]="ticketChartData"
                    [labels]="ticketChartLabels"
                    [options]="ticketChartOptions"
                    [plugins]="ticketChartPlugins"
                    [legend]="ticketChartLegend">
            </canvas>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="summary-container">
    <div class="summary-card">
      <div class="summary-title">Número de Projetos Criados</div>
      <div class="summary-value">4</div>
    </div>
    <div class="summary-card">
      <div class="summary-title">Número de Tickets Criados</div>
      <div class="summary-value">7</div>
    </div>
    <div class="summary-card">
      <div class="summary-title">Número de Usuários na Plataforma</div>
      <div class="summary-value">3</div>
    </div>
  </div>
  



</div>
