<div class="container">
    <div class="general-info">
    <h1 class="text-center">Informações Gerais</h1>
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Projetos Criados</h5>
            <p class="card-text">0</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Ticekts Criados</h5>
            <p class="card-text">0</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Impedimentos Criados</h5>
            <p class="card-text">0</p>
          </div>
        </div>
      </div>
    </div>
    </div>
<!-- 
    <div class="projects">
        <h1 class="text-center">Projetos</h1>

    </div>



    <div class="projects">
        <h1 class="text-center">Tickets</h1>

    </div> -->




  </div>
  