
<app-header headerTitle="Dashboard"></app-header>

<div class="container">
  <!-- <div class="general-info">
    <h1 class="text-center">Informações Gerais</h1>
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Projetos Criados</h5>
            <p class="card-text">0</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Tickets Criados</h5>
            <p class="card-text">0</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Impedimentos Criados</h5>
            <p class="card-text">0</p>
          </div>
        </div>
      </div>
    </div>
  </div> -->
  <h1 class="text-center">Informações Gerais</h1>

  <div class="charts-container">

    <div class="card">
      <div class="card-header">
        Projeto por Status
      </div>
      <div class="card-body">
        <div class="chart-container">
          <div class="charts">
            <canvas baseChart class="chart"
                    [type]="'pie'"
                    [datasets]="pieChartData"
                    [labels]="pieChartLabels"
                    [options]="pieChartOptions"
                    [plugins]="pieChartPlugins"
                    [legend]="pieChartLegend">
            </canvas>
          </div>
        </div>
      </div>
    </div>

    <!-- Chart 1 -->
    

    <!-- Chart 2 -->


    <div class="card">
      <div class="card-header">
        Projetos por categoria
      </div>
      <div class="card-body">
        <div class="chart-container">
          <div class="charts">
            <canvas baseChart class="chart"
                    [type]="'bar'"
                    [datasets]="barChartData"
                    [labels]="barChartLabels"
                    [options]="barChartOptions"
                    [plugins]="barChartPlugins"
                    [legend]="barChartLegend">
            </canvas>
          </div>
        </div>
       
      </div>
    </div>

    

    <div class="card">
      <div class="card-header">
        Ticket por Status
      </div>
      <div class="card-body">
        <div class="chart-container">
          <div class="charts">
            <canvas baseChart class="chart"
                    [type]="'pie'"
                    [datasets]="pieChartData"
                    [labels]="pieChartLabels"
                    [options]="pieChartOptions"
                    [plugins]="pieChartPlugins"
                    [legend]="pieChartLegend">
            </canvas>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
