.projects {
    margin-top: 80px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: end;
  }
  
  .add-project-btn {
    width:200px;
    margin-right: 380px;
    padding: 2px 10px;


  }



  .fa-edit,.fa-trash-alt{
    font-size: 20px;
  }

  .fa-edit:hover,.fa-trash-alt:hover{
    cursor: pointer;
    color: red;
  }
  
  .table {
    width: 60%;
    max-width: 1200px;
    min-width: 400px;
    margin: 0 auto;
  }
  