<app-header headerTitle="Projetos"></app-header>

<div class="projects">
  <button class="btn btn-primary add-project-btn" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Adicionar Projeto</button>
  <table class="table">
    <thead class="table-light">
      <tr>
        <th>Projeto</th>
        <th>Descrição</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let project of projects; let i = index">
        <td>{{ project.name }}</td>
        <td>{{ project.description }}</td>
        <td>
          <i class="fas fa-edit" title="Editar"></i>
          <i class="fas fa-trash-alt" title="Excluir" (click)="onDelete(i)"></i>
        </td>
      </tr>
    </tbody>
  </table>
</div>


<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Adicionar Projeto</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="projectForm" (ngSubmit)="onSubmit()">

          <ngx-spinner
          bdColor="rgba(51,51,51,0.8)"
          size="medium"
          color="#fff"
          type="ball-scale-multiple"
        >
          <p style="font-size: 20px; color: white">Aguarde...</p>
        </ngx-spinner>
          <div class="mb-3">
            <label for="projectName" class="form-label">Nome do Projeto</label>
            <input type="text" class="form-control" id="projectName" formControlName="projectName" placeholder="Digite o nome do projeto">
          </div>

          <div class="mb-3">
            <label for="description" class="form-label">Descrição do Projeto</label>
            <input type="text" class="form-control" id="description" formControlName="description" placeholder="Digite a descrição do projeto">
          </div>


          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
            <button type="submit" class="btn btn-primary">Salvar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

