.projects {
    margin-top: 80px;
    text-align: center;
  }
  
  .add-project-btn {
    margin-top: 10px; /* Adjust the margin as needed */
    position: relative;
    left:300px;
    bottom:60px;
  }

  .fa-edit,.fa-trash-alt{
    font-size: 20px;
  }

  .fa-edit:hover,.fa-trash-alt:hover{
    cursor: pointer;
    color: red;
  }
  
  .table {
    width: 700px;
    margin: 0 auto;
  }
  