<app-header headerTitle="Tickets"></app-header>

<div class="container">
    <mat-stepper [linear]="isLinear" #stepper>
        <mat-step [stepControl]="ticketForm">
            <form [formGroup]="ticketForm">
                <ng-template matStepLabel>Entre os detalhes do ticket!</ng-template>

                <div class="row">

                    <mat-form-field class="col-6">
                        <mat-label>Titulo</mat-label>
                        <input matInput formControlName="title" placeholder="Entre o titulo do Ticket" required>
                        <mat-error>Titulo não pode estar vazio!</mat-error>
                    </mat-form-field>

                    <mat-form-field class="col-6">
                        <mat-label>Prioridade</mat-label>
                        <mat-select formControlName="priority">
                            <mat-option *ngFor="let priority of priorities" [value]="TicketPriority[priority]">
                                {{priority}}
                            </mat-option>
                        </mat-select>

                        <mat-error>Por favor, selecione uma prioridade!</mat-error>
                    </mat-form-field>

                    <mat-form-field class="col-6">
                        <mat-label>Status</mat-label>
                        <mat-select formControlName="status">
                            <mat-option *ngFor="let status of statuses" [value]="TicketStatusEnum[status]">
                                {{status}}
                            </mat-option>
                        </mat-select>

                        <mat-error>Por favor,selecione um stats!</mat-error>
                    </mat-form-field>

                    <mat-form-field class="col-6">
                        <mat-label>Tipo</mat-label>
                        <mat-select formControlName="type" (selectionChange)="onTypeChange($event)">
                            <mat-option *ngFor="let type of types" [value]="TicketTypeEnum[type]">
                                {{type}}
                            </mat-option>
                        </mat-select>

                        <mat-error>Por favor, selecione um tipo!</mat-error>
                    </mat-form-field>

                    <mat-form-field class="col-6">
                        <mat-label>Projeto</mat-label>
                        <mat-select formControlName="projectId">
                            <mat-option *ngFor="let project of projects" [value]="project.id">
                                {{ project.name }}
                            </mat-option>
                        </mat-select>

                        <mat-error>Por favor, selecione ou crie um novo projeto</mat-error>
                    </mat-form-field>

                    <mat-form-field class="col-6">
                        <mat-label>Prazo</mat-label>
                        <input matInput [matDatepicker]="picker" formControlName="deadline"
                            placeholder="Escolha uma data para o prazo">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>

                        <mat-error>Por favor escolha um prazo!</mat-error>
                    </mat-form-field>

                    <mat-form-field class="col-6">
                        <mat-label>Categoria</mat-label>
                        <mat-select formControlName="categoryName">
                            <mat-option *ngFor="let category of categories" [value]="category.name">
                                {{ category.name }}
                            </mat-option>
                        </mat-select>
                        <mat-error>Por favor, selecione uma categoria!</mat-error>
                    </mat-form-field>

                    <div class="col-6">
                        <button mat-button (click)="openAddCategoryModal()" class="btn btn-secondary btn-sm">Adicionar 
                            Categoria</button>
                    </div>


                    <mat-form-field class="col-6" *ngIf="ticketForm.get('type')?.value == 1">
                        <mat-label>Passos para Reproduzir</mat-label>
                        <textarea matInput formControlName="stepsToReproduce" placeholder="Passos para Reproduzir"></textarea>
                        <mat-error *ngIf="ticketForm.get('stepsToReproduce')?.invalid">Por favor, entre os passos necessários para reproduzir o problema!</mat-error>
                      </mat-form-field>
                      
                      <mat-form-field class="col-6" *ngIf="ticketForm.get('type')?.value == 1">
                        <mat-label>Comportamento esperado</mat-label>
                        <textarea matInput formControlName="expectedBehavior" placeholder="Descreva o comportamento esperado"></textarea>
                        <mat-error *ngIf="ticketForm.get('expectedBehavior')?.invalid">Por favor, descreva o comportamento esperado!</mat-error>
                      </mat-form-field>
                      

                    <mat-form-field class="col-12">
                        <mat-label>Resumo</mat-label>
                        <textarea matInput formControlName="message" placeholder="Entre o resumo da solicitação"></textarea>
                        <mat-error>Por favor, entre o resumo do pedido!</mat-error>
                    </mat-form-field>


                </div>


                <div>
                    <button mat-button matStepperPrevious>Voltar</button>
                    <button mat-button matStepperNext>Próximo</button>

                </div>
            </form>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>Revisão </ng-template>
            <p>Tem certeza que deseja submeter essas alterações? </p>
            <div>
                <button mat-button matStepperPrevious>Voltar</button>
                <button mat-button (click)="stepper.reset()">Resetar</button>
                <button mat-button (click)="onSubmit()">Enviar</button>
            </div>
        </mat-step>
    </mat-stepper>
</div>